@media (max-width: 1024px) {
    /* header */
    .burger-bar {
        display: flex;
    }
    .nav {
        display: none;
    }
    /* section-1 */
    .section-1 {
        flex-direction: column-reverse;
        row-gap: 64px;
    }
    .section-1-left {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .title-buttons {
        justify-content: center;
        align-items: center;
    }

    /* section 2 */
    .section-2-title-block {
        flex-direction: column;
        row-gap: 64px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .photo-block-descr {
        width: 100%;
    }
    .price-div {
        flex-direction: column-reverse;
        row-gap: 8px;
    }

    /* section 3 */
    .section-3 {
        flex-direction: column;
        align-items: flex-start;
    }
    .section-3-block {
        width: 100%;
        text-align: center;
    }
    .ratings {
        width: 100%;
    }
    
    /* section 4 */
    .section-4-block {
        text-align: center;
    }

    /* footer */
    .footer {
        flex-direction: column;
        row-gap: 64px;
    }
    .company-info {
        width: 100%;
    }
    .footer-columns {
        width: 100%;
    }
}

@media (max-width: 430px) {
    /* header */
    .burger-bar {
        order: 2;
    }
    .logo {
        order: 1;
    }
    .sign-buttons {
        display: none;
    }
    /* section-1 */
    .title-buttons {
        flex-direction: column;
        row-gap: 24px;
    }
    .get-started {
        width: 100%;
    }
    .watch-demo {
        width: 100%;
    }

    /* section 2 */
    .arrows {
        justify-content: space-around;
    }
    .section-2-photo-blocks {
        flex-direction: column;
        row-gap: 32px;
    }

    /* section 3 */
    .section-3 {
        width: 95%;
        margin: 0 auto;
    }
    .ratings {
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
    .company-rate {
        width: 100%;
    }

    /* section 4*/
    .row {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 32px;
    }

    /* footer */
    .footer-columns {
        flex-direction: column;
        row-gap: 64px;
    }
    .ul-list {
        display: none;
    }
}