/* header styles */

.header-div {
    max-width: 1184px;
    width: 90%;
    height: 113px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.navigation {
    display: flex;
    width: 428px;
    column-gap: 64px;
}
.sign-buttons {
    display: flex;
    align-items: center;
}
.login {
    width: 115px;
    height: 49px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up {
    width: 115px;
    height: 49px;
    border-radius: 100px;
    background-color: #5D50C6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-bar {
    display: none;
}

/* section 1 styles */

.section-1 {
    max-width: 1184px;
    width: 90%;
    padding: 64px 0;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.section-1-left {
    width: 412px;
}
.main-title {
    font-size: 69px;
    font-weight: bold;
}
.title-text {
    font-size: 18px;
    line-height: 28.8px;
    color: #19182580;
}
.text {
    margin: 43px 0;
}
.title-buttons {
    display: flex;
    column-gap: 16px;
    font-size: 14px;
    font-weight: bold;
}
.get-started {
    width: 141px;
    height: 49px;
    background-color: #5D50C6;
    color: white;
    border-radius: 100px;
    box-shadow: 0px 5px 11px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch-demo {
    width: 141px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    border: 1px groove;
    border-radius: 100px;
}
.main-photo {
    width: 100%;
}

/* section 2 styles */
.section-2 {
    max-width: 1184px;
    width: 90%;
    margin-top: 197px;
    padding: 64px 0;
    margin: 0 auto;
}
.section-2-title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pink-title {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 4.6px;
    color: #F85E9F;
    margin-bottom: 16px;
}
.explore-title {
    font-size: 44px;
    font-weight: bold;
}
.arrows {
    display: flex;
    column-gap: 32px;
}
.left-arrow {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove;
    border-radius: 100px;
}
.right-arrow {
    width: 100px;
    height: 100px;
    background-color: #5D50C6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove;
    border-radius: 100px;
}

.section-2-photo-blocks {
    display: flex;
    column-gap: 32px;
    margin-top: 64px;
}
.resort-block {
    border-radius: 32px;
}
.beach, .fish, .cloud {
    width: 100%;
    display: block;
}
.photo-block-descr {
    width: 373.33px;
    padding: 32px;
    box-shadow: 0px 32px 71px lightgray;
    border-radius: 0 0 32px 32px;
}
.price-div {
    display: flex;
    justify-content: space-between;
}
.resort-title {
    font-size: 23px;
    font-weight: bold;
}
.resort-price{
    font-size: 23px;
    font-weight: bold;
    color: #F85E9F;
}
.resort-city {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.resort-rate {
    display: flex;
    column-gap: 8px;
}
.rate-value {
    font-size: 23px;
    font-weight: bold;
    color: #FF5722;
}

/* section 3 styles */
.section-3 {
    max-width: 1312px;
    width: 85%;
    display: flex;
    padding: 64px 0;
    align-items: center;
}
.girl {
    width: 100%;
    display: block;
}
.section-3-block {
    width: 441px;
}
.section-3-text {
    margin-top: 32px;
    margin-bottom: 64px;
}
.ratings {
    width: 441px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 32px;
}
.company-rate {
    width: 46%;
    border: 1px groove;
    border-radius: 32px;
    padding: 32px 0;
}
.numbers {
    font-size: 35px;
    font-weight: bold;
    color: #FF5722;
    margin-bottom: 16px;
}
.info {
    font-size: 18px;
}

/* section 4 styles */
.section-4 {
    max-width: 1312px;
    width: 95%;
    margin: 73px auto 99px auto;
    padding: 64px 0;
}
.section-4-rows {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
    gap: 0 32px;
}
.icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
}
.loc {
    background-color: #FF5722;
}
.cal {
    background-color: #FACD49;
}
.coup {
    background-color: #F85E9F;
}
.icon-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 8px;
}
.calendar-border {
    width: 100%;
    border: 1px groove;
    border-radius: 32px;
}

/* footer styles */
.footer {
    max-width: 1184px;
    width: 90%;
    display: flex;
    padding: 64px 0;
    margin: 0 auto;
    column-gap: 64px;
}
.company-info {
    width: 49%;
}
.footer-columns {
    width: 49%;
    display: flex;
    column-gap: 32px;
}
.company-text {
    font-size: 23px;
    color: #19182580;
    margin-top: 32px;
    margin-bottom: 64px;
}
.soc-icons {
    display: flex;
    column-gap: 32px;
}
.column {
    width: 165.33px;
}
.ul-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 32px;
}
.ul-list {
    font-size: 18px;
    color: #191825BF;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}